@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Passero+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Passero+One&family=Wellfleet&display=swap');

h1 {
    color: #8100D1;
    font-family: Passero One, normal;
    text-align: center;
    font-size: 50px;
}
h1 a {
    color: #8100D1;
    font-family: Passero One, normal;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: #B500B2;
    font-family: Jaro, normal;
    text-align: center;
    font-size: 40px;

}
h2 a {
    color: #B500B2;
    font-family: Jaro, normal;
    text-align: center;
    font-size: 40px;

}

h3 {
    color: #FF52A0;
    font-family: Wellfleet, normal;
    text-align: center;
    font-size: 35px;

}

h3 a {
    color: #FF52A0;
    font-family: Wellfleet, normal;
    text-align: center;
    font-size: 35px;

}

li {
    color: #FFA47F;
    font-family: Wellfleet, normal;
    text-align: center;
    border-color: 091413;

}

p {
    color: #FF9AEE;
    font-family: Wellfleet, normal;
    text-align: center;
    font-size: 19px;
    border-color: 091413;
    border-width: 5px;

}

.plum {
    color: #DDA0DD;
    font-family: Wellfleet, normal;
    text-align: center;

}

.background-presentation {
    background-image: url("asset/SG.png");
    background-size: cover;
    background-attachment: fixed;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

a {
    color: #FF9AEE;
    font: glider, normal;
    text-align: center;
    font-size: 19px;
}

.bold {
    font-weight: 600;
}

.backpink {
    background-color: rgba(255, 192, 203, 0.3);
}

.suppuce {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.background-musique {
    background-image: url('asset/music.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.background-anim {
    background-image: url('asset/Anim/bg/AHO-GIRL.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.background-bouffe {
    background-image: url('asset/Bouffe/Miam.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.background-grand {
    background-image: url('asset/Anim/bg/Grand.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.background-Tatami {
    background-image: url('asset/Anim/bg/Ozu.jpg.webp');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.background-aho {
    background-image: url('asset/Anim/bg/AHO.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.background-excel {
    background-image: url('asset/Anim/bg/Excel.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.background-gnosia {
    background-image: url('asset/Anim/bg/gnosia.webp');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.background-iruma {
    background-image: url('asset/Anim/bg/Iruma.jpg');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.background-JV {
    background-image: url('asset/JV/bg/JV.png');
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: center;
    background-attachment: fixed;
}

.background-mod {
    background-image: url('asset/JV/bg/mod.png');
    background-size: 50%;
    width: 100%;
    height: 500px;
    background-position: 30% center;
    background-repeat: no-repeat;

}

.background-works {
    background-image: url('asset/JV/bg/works.png');
    background-size: 50%;
    width: 100%;
    height: 500px;
    background-position: 70% center;
    background-repeat: no-repeat;

}

.tatami{
   background-image: url('asset/Anim/TatamiGalaxy.png');
    background-size: 50%;
    width: 100%;
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
.grand{
   background-image: url('asset/Anim/GrandBlue.avif');
   background-size: 50%;
    width: 100%;
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.aho{
   background-image: url('asset/Anim/AhoGirl.jpg');
    background-size: 50%;
    width: 100%;
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
.excel{
   background-image: url('asset/Anim/ExcelSaga.jpg');
    background-size: 50%;
    width: 100%;
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
.gnosia{
   background-image: url('asset/Anim/Gnosia.webp');
    background-size: 50%;
    width: 100%;
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.iruma{
   background-image: url('asset/Anim/IrumaKun.jpeg');
    background-size: 50%;
    width: 100%;
    height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.backfont42 {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}
.backfont42 li {
    list-style-position: inside;
    width: fit-content;
    margin: 0 auto 15px auto; 
    background-color: #00000079;
    padding: 0px 15px;
    border-radius: 4px;
    display: block; /* Indispensable pour le centrage auto */
}

.backfont {
    text-decoration: underline;
    background-color:#00000079;
    border: #00000079;
    width: fit-content;
    margin: 0 auto 15px auto;
    padding: 0px 15px;
    border-radius: 4px;
    
    
}